@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

@import "tailwindcss";

body {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
}
.scroll-custom::-webkit-scrollbar {
  width: 6px;
}

.scroll-custom::-webkit-scrollbar-track {
  background: #1f1f1f;
}

.scroll-custom::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #a855f7, #d946ef);
  border-radius: 10px;
}

.scroll-custom::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom, #c084fc, #e879f9);
}
@keyframes record-glow {
  0% {
    transform: translateY(0px);
    opacity: 0.45;
  }
  50% {
    transform: translateY(-15px);
    opacity: 0.65;
  }
  100% {
    transform: translateY(0px);
    opacity: 0.45;
  }
}

.animate-record-glow {
  animation: record-glow 2.8s ease-in-out infinite;
  will-change: transform, opacity;
}